<<<<<<< HEAD
a {
    color: black;
    cursor: pointer;
}



a:link {
    text-decoration: none;
}

body {
    background-color: white;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.logo_container {
    display: flex;
    flex-direction: row;
    padding-right: 290px;
}

.sec {
    padding: 0 50px;
}

.sub-logo {
    width: 500px;
    object-fit: contain;
    border: 1px solid rgb(132, 132, 132);
}

.couses-logo {
    width: 100px;
    object-fit: contain;
}

.html {
    width: 110px;
    margin-bottom: 10px;
}

.css {
    width: 90px;
    margin-bottom: 10px;
}

.js {
    margin-bottom: 18px;
}

.react {
    margin-bottom: 10px;
}


.courses-container {
    box-shadow: 0 4px 8px 0 rgb(94 94 94 / 20%),
        0 6px 20px 0 rgb(171 171 171 / 19%);
}

.contact-container {
    box-shadow: 0 4px 8px 0 rgb(94 94 94 / 20%),
        0 6px 20px 0 rgb(171 171 171 / 19%);
    width: 500px;
    margin: auto;
    padding: 20px;
}

.submit-btn {
    width: 30%;
    margin: 10px auto;
    padding: 8px 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

.input-control {
    padding: 8px;
}

.form-control {
    margin: 7px 0;
}

.input-label {
    margin: 4px 0;
=======
#root{
    height: 100vh;
>>>>>>> fad5adcc1dfcff16d4e2ca9516ef6ebfe0641766
}